$pure-white: #ffffff;
$very-dark-desaturated-cyan: #2f4f4f;
$very-dark-blue: #203a72;
$pure-black: #000;
$mostly-black: #4f2f2f;
$light-gray: #eeeeee;
$vivid-orange: #ff9613;
$vivid-blue: #0f8af9;
$soft-blue: #886cfe;

$font-family-poppins: 'Poppins', sans-serif;

$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-base: 16px;

$line-height-base: 26px;